/* ----------- BODY ----------- */
body.Incio {
    background-color: aliceblue;
    margin: 0;
    display: flex;
    flex-direction: row;
}

/* ----------- NAVBAR ----------- */
.Navbar {
    width: 220px;
    background-color: #ffffff;
    color: #060023;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    position: fixed;           
    left: 0;
    top: 0;
}

.titulo {
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 2px solid #3000FF; 
    margin-bottom: 15px;    
}

.titulo img {
    width: 50px;
}

.titulo p {
    margin: 0;
    font-weight: 600;
    color: #060023;
}

.Navbar nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.Navbar nav ul li {
    margin: 8px 0;
}

.Navbar nav ul li a {
    font-family: "Inter", sans-serif;
    display: block;    
    color: #060023;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    border-radius: 8px;
    transition: 0.5s ease;
}

.Navbar nav ul li a:hover,
.Navbar nav ul li a.active {
    background-color: #2100b6;
    color: #f0f8ff;
    padding-left: 20px;
}

/* ----------- HEADER ----------- */
.header {
    position: fixed;
    top: 0;
    right: 0;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: calc(100% - 220px);
    background-color: white;
    border-bottom: 2px solid #3000FF;
    padding-right: 20px;
    z-index: 10;
}

.material-symbols-outlined {
    cursor: pointer;
    color: #060023;
    font-size: 32px;
    transition: 0.3s ease;
    margin-right: 5px;
}

.material-symbols-outlined:hover {
    color: #3000FF;
}

/* ----------- MAIN ----------- */
.main {
    margin-left: 270px; 
    margin-top: 69px;   
    padding: 20px;
    width: calc(100% - 220px); 
    min-height: calc(100vh - 69px);
    box-sizing: border-box;
}

/* ----------- INFO ----------- */
.Info h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: #140169;
}

.Info p{
    font-family: "Inter", sans-serif;
    color: #919bb5;    
}

/* BOTÓN SUPERIOR */
.acciones-superiores {
    margin-top: 15px;
    margin-bottom: 20px;
}

.acciones-superiores button {
    font-family: "Inter", sans-serif;
    font-size: 20px;    
    font-weight: 600;
    border: none;
    border-radius: 10px;
    padding: 14px;
    text-align: center;
    cursor: pointer;
    background-color: #5384ff;
    color: #ffffff;
    margin-right: 6px;    
    transition: all 0.2s ease; 
}

.acciones-superiores button:hover {
    background-color: #2100b6;
}

/* TABLA */
.tabla-reportes {
    width: 100%;
    border-collapse: collapse;
    font-family: "Inter", sans-serif;
    font-size: 1re;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.tabla-reportes th {
    padding: 5px;
    background-color: #2100b6;
    color: white;
    border-bottom: 1px solid #e4e4e4;
    text-align: left;
}

.tabla-reportes td {
    padding: 5px;
    border-bottom: 1px solid #e4e4e4;
}

.tabla-reportes tbody tr:hover {
    background-color: #d4d6da96;
}

.fila-reporte {
    position: relative;
    transition: 0.3s ease;
}

.btnEliminar {
    display: none;
    background-color: #ff4e4e;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}

.fila-reporte:hover .btnEliminar {
    display: inline-block;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
    align-items: center;
    justify-content: center;
}

.modal-contenido {
    background: white;
    padding: 18px;
    border-radius: 12px;
    width: 420px;
    max-width: 95%;
    font-family: "Inter", sans-serif;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.modal-contenido h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: #140169;
    font-size: 1.5rem;
}

.modal-contenido input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 1rem;
    transition: border-color 0.2s ease;
    box-sizing: border-box;
}

.modal-contenido input:focus {
    border-color: #5384ff;
    outline: none;
    box-shadow: 0 0 0 2px rgba(83, 132, 255, 0.2);
}

.modal-formulario input::placeholder {
    color: #919bb5;
}

.modal-buttons {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    margin-top: 16px;
}

.modal-buttons button {
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#btnCrearReporte {
    background-color: #5384ff;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.2s ease;
}

#btnCrearReporte:hover {
    background-color: #2100b6;
}

#btnCerrarModal {
    border-radius: 8px;
    border: none;
    background-color: #e3e6ee;
    color: #3000FF;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.2s ease;
}

#btnCerrarModal:hover {
    background-color: #9c97b4;
}

